@{
    ViewData["Title"] = "Home Page";
}

 <div class="container-fluid">

    <div id="carouselExampleDark" class="carousel carousel-dark slide mt-5" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>       
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="/images/img-colorida.png" class="d-block w-100 img-banner" alt="Acessibilidade">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="title-banner">Bem-estar</h2 class="title-banner">
              <p class="subtitle-banner">Compromisso em promover o bem-estar físico e mental dos usuários facilitando o acesso a serviços que contribuam para uma vida saudável.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/images/bg-cristais.png" class="d-block w-100 img-banner" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="title-banner">Inovação</h2 class="title-banner">
              <p class="subtitle-banner">Busca constante por inovação tecnológica para aprimorar a experiência do usuário, oferecendo recursos modernos e eficientes.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="row" style="margin-top:20px">
          <div class="col-12">
              <h1>O que é a Massoterapia?</h1>
              <p>A massoterapia é um conjunto de técnicas manuais realizadas por profissionais qualificados para promover equilíbrio energético e corporal, melhorar a saúde e proporcionar bem-estar. Essas técnicas incluem massagens relaxantes, terapêuticas, drenagem linfática, estética, reflexologia podal e shiatsu. Indicada para aumentar a concentração, aliviar dores, combater a insônia, proporcionar felicidade, reduzir o estresse, aprimorar o desempenho físico, acelerar a recuperação muscular e fortalecer a imunidade. A massoterapia oferece benefícios como relaxamento, alívio do estresse, melhora da circulação, flexibilidade e contribuição para a saúde geral do corpo. Recomenda-se procurar um profissional especializado para um tratamento personalizado.</p>
          </div>
      </div>
      
  <div class="card-group" style="margin-top:20px">
    <div class="card">
      <img src="/images/img-homem-deitado.jpg" class="card-img-top" alt="Massoterapeuta">
      <div class="card-body">
        <h5 class="card-title">Missão</h5>
        <p class="card-text">Nossa missão é oferecer site onde o cliente encontre um  profissional capacitado em  proporcionar refúgio de relaxamento e renovação, promovendo o bem-estar físico e mental de nossos clientes.
Buscamos proporcionar experiências terapêuticas excepcionais, combinando técnicas tradicionais e inovadoras de massagem pra aliviar o estresse, revitalizar o corpo e restaurar o equilíbrio interior.
Nosso compromisso é criar um ambiente acolhedor.
Onde cada pessoa se sinta cuidada, revitalizada e pronta pra abraçar a vida com mais vitalidade.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/images/img-mulher.jpg" class="card-img-top" alt="Massoterapeuta">
      <div class="card-body">
        <h5 class="card-title">Visão</h5>
        <p class="card-text">Nosso site visa ser  até 2025 o principal destino online pra conectar o indivíduos a massoterapeutas qualificados e experientes. 
            Queremos oferecer uma plataforma intuitiva e confiável que simplifique a busca 
            e agendamento de serviços de massagem terapêuticas, proporcionando uma experiência personalizada e satisfatória para os usuários.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/images/img-massagem-pescoço.jpg" class="card-img-top" alt="Massoterapeuta">
      <div class="card-body">
        <h5 class="card-title">Valores</h5>
        <p class="card-text">Excelência compromisso com a qualidade, promovendo uma seleção criteriosa de massoterapeutas qualificados e capacitados.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div style="margin-top:20px">
        <ul><li>*Confiança e transparência* : 
        Prioridade na construção de relacionamentos sólidos e confiáveis entre usuários e massoterapeutas, garantindo transparências nas informações e avaliações.
        </li></ul>
        <ul><li> *Acessibilidade* :
        Garantir que todos tenham acesso fácil a uma variedade de massoterapeutas, independente de localização geográfica, renda ou identidade
        </li></ul>
        <ul><li>*Respeito e Diversidade* : 
        Valorização da diversidade de técnicas, estilos e origens dos massoterapeutas, promovendo um ambiente inclusivo e respeitoso pra todos.
        </li></ul>
        <ul><li> *Bem-estar* : 
        Compromisso em promover o bem-estar físico e mental dos usuários facilitando o acesso a serviços que contribuam para uma vida saudável.
        </li></ul>
        <ul><li> *Inovação* : 
        Busca constante por inovação tecnológica para aprimorar a experiência do usuário, oferecendo recursos modernos e eficientes.
        </li></ul>
        <ul><li> *Comunidade e colaboração* : 
        Construção de uma comunidade ativa, incentivando a troca de conhecimento e experiência entre usuários e massoterapeutas
        </li></ul>
    </div>
  </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
