<div class="container-fluid">
  <img src="~/images/img-turma.jpg" class="img-fluid"/>
  <div class="card btn-group">
      <div class="row">
          <div class="col-4">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title">Back-End</h5>
                        <p class="card-text">Devin<br />Erick<br />David<br />Guilherme<br />Valdinei</p>
                    </div>
                </div>
          </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Front-end</h5>
                        <p class="card-text">Enrico<br />Pedro<br />Fabio<br />Beatriz<br />Thiago</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Banco de Dados</h5>
                        <p class="card-text">Alisson<br />Stefanie<br />Ryan<br />João<br />Vinicius</p>
                    </div>
                </div>
            </div>
      </div>
  </div>

</div>


