@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div class="row">
        <div class="card-group" style="margin-top:20px">
            <div class="card">
                <img src="/images/bg-massagem-desportiva.jpg" class="card-img-top" alt="Massoterapeuta">
                <div class="card-body">
                    <h5 class="card-title">Massagem desportiva</h5>
                    <p class="card-text">
                        É um conjunto de técnicas para melhorar a recuperação muscular, fortalecimento e cura de lesões após impactos por conta do exercícios físicos, é um ramo da massoterapia focada na reparação dos músculos após treinos intensos.
                        É uma importante forma de tratar a tensão muscular de atletas e apresenta  vantagens sobre a maioria das terapias, podendo ser utilizada com regularidade para ajudar a prevenir lesões por esgotamento.

                    </p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="/images/bg-quickmassagem.jpg" class="card-img-top" alt="Massoterapeuta">
                <div class="card-body">
                    <h5 class="card-title">Quick Massage</h5>
                    <p class="card-text">
                        é um termo em inglês que significa massagem rápida. Como o próprio nome diz, é uma massagem de curta duração (aproximadamente 15 minutos) realizada em uma cadeira específica e com movimentos inspirados em técnicas orientais para proporcionar o relaxamento rápido. Geralmente essa técnica é usada em empresas.

                    </p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="/images/bg-ventosaterapia.jpg" class="card-img-top" alt="Massoterapeuta">
                <div class="card-body">
                    <h5 class="card-title">Ventosaterapia </h5>
                    <p class="card-text">
                        É uma técnica da medicina tradicional chinesa no qual é feita uma sucção na pele através de ventosas.
                        Entre os diversos benefícios, a ventosaterapia possibilita o relaxamento do corpo e da mente, o fortalecimento dos vasos sanguíneos, reduz dores e inflamações, melhora o fluxo sanguíneo e a circulação, eliminação de contraturas musculares e pontos de tensão. Mesmo sendo um procedimento seguro, é importante ressaltar que existem contraindicações, por exemplo, para pessoas com histórico de trombose ou outros distúrbios hemorrágicos, pressão alta, varizes, febre e fraturas no local da aplicação não é aconselhável a aplicação.
                    </p>

                </div>
            </div>

        </div>

        <div class="card-group" style="margin-top:20px">
            <div class="card">
                <img src="/images/bg-massagem suina.jpg" class="card-img-top" alt="Massoterapeuta">
                <div class="card-body">
                    <h5 class="card-title">Tuiná </h5>
                    <p class="card-text">
                        É uma massagem terapêutica que harmoniza a energia essencial do corpo entre o yin e o yang, faz parte da medicina tradicional chinesa, que se fundamenta na teoria dos cinco elementos: água, fogo, terra, madeira e metal, que simbolizam os órgãos internos.
                        Ela pode atuar nos sistemas circulatório, digestivo, endócrino, reprodutor e nervoso, de acordo com as necessidades identificadas pelo(a) profissional da MTC ao observar a saúde de quem ele está atendendo.

                    </p>

                </div>
            </div>
            <div class="card">
                <img src="/images/bg-cromoterapia.jpg" class="card-img-top" alt="Massoterapeuta">
                <div class="card-body">
                    <h5 class="card-title">Cromoterapia </h5>
                    <p class="card-text">
                        É um tipo de terapia complementar, que utiliza ondas emitidas pelas cores para atuar em células do nosso organismo e melhorar o equilíbrio entre o corpo e mente, promovendo uma maior sensação de bem-estar e até aliviando sintomas de doenças, como pressão alta ou depressão.
                    </p>

                </div>
            </div>
            <div class="card">
                <img src="/images/bg-aromaterapia.jpg" class="card-img-top" alt="Massoterapeuta">
                <div class="card-body">
                    <h5 class="card-title">Aromaterapia</h5>
                    <p class="card-text">
                        A Aromaterapia é um ramo da fitoterapia que utiliza o aroma e as partículas liberadas por diversos óleos essenciais para estimular o cérebro, trabalha diretamente na hipófise, ajudando e regulando a parte hormonal.
                        Esses aromas são pequena partículas que promovem um estímulo sensorial no organismo e é eficaz no tratamento de doenças físicas e emocionais
                    </p>

                </div>
            </div>

        </div>

    </div>
</div>