<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Massoterapia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Massoterapia.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!-- Logo à Esquerda -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/images/img-logo.jpg" alt="Logo do site" style="margin-right: 10px;">
                    MassoterapiaAqui
                </a>

                <!-- Menu Centralizado -->
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0" style="width:700px">
                        <li class="nav-item">
                            <b><a class="nav-link text-dark espaco" style="margin-right:180px" asp-area="" asp-controller="Home" asp-action="Index">Home</a></b>
                        </li>
                        <li class="nav-item">
                            <b><a class="nav-link text-dark espaco" style="margin-left: -50px" asp-controller="Home" asp-action="QuemSomos">Quem Somos</a></b>
                        </li>
                        <li class="nav-item">
                            <b><a class="nav-link text-dark espaco" asp-area="" style="margin-left: 80px" asp-controller="Home" asp-action="Privacy">Tratamentos</a></b>
                        </li>
                    </ul>
                </div>

                <!-- Botão Entrar à Direita -->
                <div class="navbar-text">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <div class="d-flex justify-content-end">
                            <b><a style="color:white" asp-action="Login" asp-controller="Conta" class="btn btn-success">Entrar</a></b>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
           MassoterapiaAqui - Criado por Devin Gamboa Enciso
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
