@model Massoterapia.Models.Usuario

@{
    ViewData["Title"] = "Exclui";
}

<h1>Exclui</h1>

<h3>Voce deseja excluir o usuario?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Exclui">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Perfil" />
        <input type="hidden" asp-for="IdPerfil" />
        <input type="hidden" asp-for="Imagem" />
        <div class="form-group test-center p-2">
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>

        </div>

    </form>
</div>
